{% load i18n static shop_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:" en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <style>
        html,body{
            height: 100%;
            background-color: #f9f9f9;
        }
    </style>
    {% block extrastyle %}{% endblock %}
</head>
<body>
    <div class="is-flex is-flex-direction-column" style="height: 100%;">
        <header class="header">
            {% block header %}
            <div id="headTop" class="head-top-box has-background-black-bis">
                <div class="container">
                    <div class="is-flex">
                        <div class="is-flex">
                            {% block head_top_start %}
                            <a><span class="mdi mdi-star-outline"></span>收藏本站</a>
                            {% block head_top_start_add %}{% endblock %}
                            {% endblock %}
                        </div>
                        <div style="margin-left: auto;">
                            {% block head_top_end %}
                            <div class="is-flex is-align-content-center">
                                <a class="mr-3" href="{% url 'baykeShop:login' %}">登录/注册</a>
                                <span class="is-size-7">|</span>
                                <a class="ml-3 mr-3" href="">我的订单</a>
                                <a class="pl-3 pr-3 user-cart" href="">
                                    <span class="mdi mdi-cart-variant"></span>
                                    购物车(0)
                                </a>
                            </div>
                            {% block head_top_end_add %}{% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {% block navbar %}{% navbar_result %}{% endblock %}
            {% endblock %}
        </header>
        <div class="main">
            <div class="container">
                {% block banner %}
                {% carousel_result %}
                {% endblock %}

                {% block section %}
                {% include 'baykeShop/seckill.html' %}
                {% endblock %}
            </div>
        </div>

        <footer class="footer has-background-black-ter" style="margin-top: auto;">
            <nav class=" container level is-mobile">
                <div class="level-item ">
                    <span class="icon is-large has-text-grey-light mr-1" style="font-size: 3em;">
                        <i class="mdi mdi-basket-plus"></i></span>
                    <div class="has-text-grey-light">
                        <p class="heading is-size-6">轻松购物</p>
                        <p class="title has-text-grey-light is-size-5">品种齐全</p>
                    </div>
                </div>
                <div class="level-item">
                    <p class="has-text-centered has-text-grey-light">|</p>
                </div>
                <div class="level-item ">
                    <span class="icon is-large has-text-grey-light mr-1" style="font-size: 3em;">
                        <i class="mdi mdi-shield-car"></i>
                        <!-- <i class="mdi mdi-rv-truck"></i> -->
                    </span>
                    <div class="has-text-grey-light">
                        <p class="heading is-size-6">多仓直发</p>
                        <p class="title has-text-grey-light is-size-5">极速配送</p>
                    </div>
                </div>
                <div class="level-item">
                    <p class="has-text-centered has-text-grey-light">|</p>
                </div>
                <div class="level-item ">
                    <span class="icon is-large has-text-grey-light mr-1" style="font-size: 3em;">
                        <i class="mdi mdi-ballot"></i></span>
                    <div class="has-text-grey-light">
                        <p class="heading is-size-6">精致服务</p>
                        <p class="title has-text-grey-light is-size-5">正品行货</p>
                    </div>
                </div>
                <div class="level-item">
                    <p class="has-text-centered has-text-grey-light">|</p>
                </div>
                <div class="level-item ">
                    <span class="icon is-large has-text-grey-light mr-1" style="font-size: 3em;">
                        <i class="mdi mdi-wallet-giftcard"></i></span>
                    <div class="has-text-grey-light">
                        <p class="heading is-size-6">畅选无忧</p>
                        <p class="title has-text-grey-light is-size-5">天天低价</p>
                    </div>
                </div>
                <div class="level-item">
                    <p class="has-text-centered has-text-grey-light">|</p>
                </div>
                <div class="level-item ">
                    <span class="icon is-large has-text-grey-light mr-1" style="font-size: 3em;">
                        <i class="mdi mdi-hand-heart"></i></span>
                    <div class="has-text-grey-light">
                        <p class="heading is-size-6">极速退换</p>
                        <p class="title has-text-grey-light is-size-5">无忧售后</p>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="dropdown-divider has-background-grey-dark"></div>
                <div class="content has-text-centered has-text-grey-lighter">
                    <p>Copyright 2022 by <strong class="has-text-grey-lighter">HappyShop</strong>
                        <a class="has-text-grey-lighter"
                            href="https://www.toutiao.com/c/user/token/MS4wLjABAAAAFV-cysN1jV5BJyuOG8ePvq2wkIcCCyx21nafBCqofig/?source=feed">
                            轻编程</a>. All rights reserved.
                    </p>
                    <p class="is-size-6">本程序由<a class="has-text-grey-lighter"
                            href="https://www.djangoproject.com/">Django</a>强力驱动</p>
                </div>
            </div>
        </footer>
    </div>
    {% block vuescript %}{% endblock %}
</body>
</html>