{% extends 'baykeShop/goods.html' %}

{% load static shop_tags %}

{% block title %}
    {{ good.title }} - {{ good.category.all|join:'-' }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<style>
    [v-cloak] {
        display: none !important;
    }
    .is-active .al img {
        filter: grayscale(0%);
    }
    .al img {
        filter: grayscale(100%);
    }
    .carousel .carousel-indicator {
        padding: .5rem 0 0 0;
    }
    .tabs{
        background-color: rgba(239, 239, 239, 0.787);
    }
    /*
    .tabs ul {
        border: none;
    }
    .tabs .is-active{
        border-top: solid 2px #c31313;
    }*/

    .indicator-item img{
        width: 150px;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs pt-3 pb-3">
        <a class=" has-text-grey-dark" href="">首页</a>
        &rsaquo; <a class=" has-text-grey-dark" href="{% url 'baykeShop:goods' good.category.first.id %} ">{{ good.category.all|join:'&' }}</a>
        &rsaquo; <span class=" has-text-grey">{{ good.title }}</span> 
    </div>
{% endblock %}

{% block content %} 
{{ options_skus|json_script:"options-data" }}
{{ specs|json_script:"specs-data" }}
{{ current_sku_options|json_script:"current-sku-options" }}
{{ banners|json_script:"banners-data" }}
<div id="goodDetail" class="mb-3 mt-3" v-cloak>
    <div class="columns">
        <div class="column is-4">
            <div class="box1">
                <template>
                    <b-carousel :indicator-inside="false">
                        <b-carousel-item v-for="(item, i) in banners" :key="i">
                            <b-image class="image" ratio="1by1" :src="getImgUrl(item.img)"></b-image>
                        </b-carousel-item>
                        <template #indicators="props">
                            <!-- {$ banners[props.i].img $} -->
                            <b-image class="al image" :src="getImgUrl(banners[props.i].img)" :title="banners[props.i].desc"></b-image>
                        </template>
                    </b-carousel>
                </template>
            </div>
        </div>
        <div class="column">
            <div class=" is-flex is-flex-direction-column" style="height: 100%;">
                <h1 class=" is-size-4 mb-3">{{ good.title }}</h1>
                <div class="goodPrice box is-radiusless is-shadowless has-background-primary-dark is-marginless">
                    <div class="is-flex is-align-items-center">
                        <div class="is-flex is-flex-direction-column is-align-items-start">
                            <div class="has-text-grey-lighter">原价:¥ {$ org_price $}</div>
                            <div class="is-size-3 has-text-grey-lighter has-text-weight-bold">¥{$ price $}</div>
                        </div>
                        <div style="margin-left: auto;">
                            <div class="is-flex is-flex-direction-column is-align-items-center has-text-grey-lighter pl-5" style="border-left: solid 1px #a9a9a9;">
                                <div class="is-size-4 has-text-weight-bold">{$ sales $}</div>
                                <div class="">销量</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 优惠券预留 -->
                <div class="box is-marginless is-radiusless" style="display: none;">
                    优惠券领取
                    <b-collapse 
                        :open="false" 
                        position="is-bottom" 
                        aria-id="contentIdForA11y4">
                        <template #trigger="props">
                            <a
                                aria-controls="contentIdForA11y4"
                                :aria-expanded="props.open">
                                {$ !props.open ? '更多优惠' : '收起' $}
                                <b-icon :icon="!props.open ? 'chevron-down' : 'chevron-up'"></b-icon>
                            </a>
                        </template>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br/>
                            Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. <br/>
                            Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.
                        </p>
                    </b-collapse>
                </div>
                <!-- 规格 -->
                <div class="is-flex is-align-items-center mt-3" 
                    v-for="spec, index in specs" 
                    :key="index">
                    <span class="is-size-7 mr-3">{$ spec.spec $}:</span>
                    <b-radio-button v-for="op, i in spec.options" :key="op"
                        @click.native=""
                        v-model="radioButton[index]"
                        :native-value="op"
                        size="is-small"
                        class="mr-2"
                        type="is-danger is-light is-outlined">
                        <!-- <b-icon icon="close"></b-icon> -->
                        <span>{$ op $}</span>
                    </b-radio-button>
                </div>
                <!-- 数量 -->
                <div class="is-flex is-align-items-center mt-4">
                    <div class="is-size-7 mr-3">数量:</div>
                    <div>
                        <b-field>
                            <b-numberinput 
                                controls-position="compact" 
                                min="1" 
                                :max="stock" 
                                v-model="num"
                                size="is-small"
                                :editable="false">
                            </b-numberinput> 
                        </b-field>
                    </div>
                    <div class="ml-3">(库存{$ stock $})</div>
                </div>
                <!-- 操作 -->
                <div class="buttons" style="margin-top: auto;">
                    <b-button 
                        type="is-primary" 
                        size="is-large" 
                        :disabled="stock ? false : true ">加入购物车
                    </b-button>
                    <b-button 
                        type="is-primary" 
                        size="is-large"
                        :disabled="stock ? false : true " 
                        outlined>
                        立即购买
                    </b-button>
                </div>
            </div>
        </div>
    </div>

    <template>
            <section>
                <b-tabs class="block" size="is-medium">
                    <b-tab-item label="商品详情">
                        <div class="content">
                            {{ good.content|safe }}
                        </div>
                    </b-tab-item>
                    <b-tab-item label="累计评论">
                        评论
                    </b-tab-item>
                </b-tabs>
            </section>
    </template>

</div>   
{% endblock %}

{% block vuescript %}
    <script>
        var options = JSON.parse(document.getElementById('options-data').textContent);
        var specs = JSON.parse(document.getElementById('specs-data').textContent);
        var currentSkuOptions = JSON.parse(document.getElementById('current-sku-options').textContent);
        var banners = JSON.parse(document.getElementById('banners-data').textContent);
        var goodDetail = new Vue({
            el: '#goodDetail',
            delimiters: ['{$', '$}'],
            data: {
                price: '{{ sku.price }}',
                org_price: "{{ sku.org_price }}",
                stock: "{{ sku.stock }}",
                sales: "{{ sku.sales }}",
                specs: specs,
                options: options,
                radioButton: currentSkuOptions,
                num: 1,
                banners: banners
            },
            methods: {
                getImgUrl(value) {
                    return `/media/${value}`
                },
            },
            
            watch:{
                radioButton:{
                    handler: function(val, oldval){
                        let strVal = val.join()
                        sku = this.options[strVal]
                        if (sku) {
                            this.price = sku.price
                            this.org_price = sku.org_price
                            this.sales = sku.sales
                            this.stock = sku.stock
                        } else {
                            this.stock = 0
                        }
                    },
                    deep: true,
                }
            },
        })
    </script>
{% endblock %}