{% extends 'baykeShop/index.html' %}

{% load static shop_tags %}

{% block title %}
    {% if category.parent %}
    {{ category.parent.name }}-
    {% endif %}       
    {{ category.name }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static 'baykeShop/css/goods.css' %}">
{% endblock %}

{% block carousel %}{% endblock %}

{% block seckill %}{% endblock %}

{% block section %} 

<div class="container goods">
    
    {% block breadcrumbs %}
    <div class="breadcrumbs pt-3 pb-3">
        <a class=" has-text-grey-dark" href="">首页</a>
        {% if category.parent %}     
        &rsaquo; <a class=" has-text-grey-dark" href="#">{{ category.parent.name }}</a>
        {% endif %} 
        &rsaquo; <span class=" has-text-grey-lighter">{{ category.name }}</span> 
    </div>
    {% endblock %}

    {% block content %}
    <div id="cateFilter" class="mb-3">
        <div class="is-flex is-align-items-center has-background-white pl-3">
            {% for cate in cates %}
                {% if cate.parent is None %}
                    <div class="p-4">
                        <a class="{% if cate.id == category.parent.id or cate.id == cate_id %} has-text-primary {% else %} has-text-black-ter {% endif %}" 
                            href="{% url 'baykeShop:goods' cate.id %}?order={{ order }}&field={{ field }}">
                            {{ cate.name }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            <div class=" has-text-grey-light mr-5 is-clickable" style="margin-left: auto;" @click="hasShow">
                <span class="mdi mdi-shape-plus"></span> <span>{$ text $}分类</span>
            </div>
        </div>
        <div class="box is-radiusless is-paddingless" @mouseleave="hasClose"
            :style="isDisplay ? 'display: block' : 'display: none'">
            <!-- <div class=" dropdown-divider is-marginless"></div> -->
            <div class="is-flex is-flex-wrap-wrap pl-4">
            {% for cate in cates %}
                {% if cate.parent is None %}
                    <div class="p-4">
                        <a class="{% if cate.id == category.parent.id or cate.id == cate_id %} has-text-primary {% else %} has-text-black-ter {% endif %}" 
                            href="{% url 'baykeShop:goods' cate.id %}?order={{ order }}&field={{ field }}">
                            {{ cate.name }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    
        <div class="box is-shadowless is-radiusless mt-3">
            {% if sub_cates %}
            <div class="is-flex is-align-items-center is-flex-wrap-wrap">
                <div class="gooods-cate-label">分类：</div>
                {% for sub_cate in sub_cates %}
                    <div class="subcate has-text-centered">
                        <a href="{% url 'baykeShop:goods' sub_cate.id %}?order={{ order }}&field={{ field }}" 
                            class="{% if sub_cate.id == cate_id %} has-text-primary {% else %} has-text-black-ter {% endif %}" >
                            {{ sub_cate.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="is-flex is-align-items-center is-flex-wrap-wrap">
                <div class="gooods-cate-label">分类：</div>
                {% for sub_cate in category.parent.baykeshopcategory_set.all %}
                    <div class="subcate has-text-centered">
                        <a href="{% url 'baykeShop:goods' sub_cate.id %}?order={{ order }}&field={{ field }}" 
                            class="{% if sub_cate.id == cate_id %} has-text-primary {% else %} has-text-black-ter {% endif %}">
                            {{ sub_cate.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="is-flex is-align-items-center is-flex-wrap-wrap">
                <div class="gooods-cate-label">排序：</div>

                <div class="subcate has-text-centered">
                    <a class="{% if not order %} has-text-primary {% else %} has-text-black-ter {% endif %}" 
                        href="{% url 'baykeShop:goods' category.id %}">默认</a>
                </div>

                <div class="subcate has-text-centered">
                    <a class="{% if field == 'price' %} has-text-primary {% else %} has-text-black-ter {% endif %}" 
                        @click="orderfilter('price')">
                        价格 
                        {% if field == 'price' and order == 'asc' %}
                        <span class="mdi mdi-sort-bool-ascending-variant"></span>
                        {% elif field == 'price' and order == 'esc' %}
                        <span class="mdi mdi-sort-bool-descending-variant"></span>
                        {% endif %}
                            
                    </a>
                        
                </div>

                <!-- <div class="subcate has-text-centered">
                    <a class="has-text-grey-dark" @click="orderfilter('price')">销量</a>
                </div> -->

                <div class="subcate has-text-centered">
                    <a class="{% if field == 'add_date' %} has-text-primary {% else %} has-text-black-ter {% endif %}" 
                        @click="orderfilter('add_date')">
                        上架时间
                        {% if order == 'asc' and field == 'add_date' %}
                        <span class="mdi mdi-sort-bool-ascending-variant"></span>
                        {% elif order == 'esc' and field == 'add_date' %}
                        <span class="mdi mdi-sort-bool-descending-variant"></span>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% paginator_result goods_queryset %}
    {% endblock %}
</div>
{% endblock %}

{% block vuescript %}
    <script>
        var cateFilter = new Vue({
            el: '#cateFilter',
            delimiters: ['{$', '$}'],
            data: {
                field: 'price',
                order: '{{ order }}',
                isDisplay: false,
                text: "查看"
            },
            methods: {
                orderfilter(field){
                    if (this.order == 'asc') {
                        this.order = 'esc'
                        let url = "{{ request.path }}?field="+field+"&order="+this.order
                        location.replace(url)
                    }else{
                        this.order = 'asc'
                        let url = "{{ request.path }}?field="+field+"&order="+this.order
                        location.replace(url)
                    }
                },

                hasShow(){
                    if (this.isDisplay) {
                        this.isDisplay = false
                        this.text = "查看"
                    } else {
                        this.isDisplay = true
                        this.text = "关闭"
                    }
                },

                hasClose(){
                    // this.isDisplay = true
                }
            }
        })
    </script>
{% endblock %}
    