<div id="headTop" class="head-top-box has-background-black-bis">
    <div class="container">
        <div class="is-flex">
            <div class="">
                <a>
                    <span class="mdi mdi-star-outline"></span>
                    收藏本站
                </a>
            </div>
            <div style="margin-left: auto;">
                <div class="is-flex is-align-content-center">
                    <a class="mr-3" href="">登录/注册</a>
                    <span class="is-size-7">|</span>
                    <a class="ml-3 mr-3" href="">我的订单</a>
                    <a class="pl-3 pr-3 user-cart" href="">
                        <span class="mdi mdi-cart-variant"></span>
                        购物车(0)
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var headTop = new Vue({
        el: '#headTop',
        delimiters: ['{$', '$}'],
        data: {}
    })
</script>