<div class="container is-flex">
    <div class="head-start">
        <a href="">
            <span class="mdi mdi-flag-variant"></span>
            收藏本站
        </a>
    </div>
    <div class="head-end" style="margin-left: auto;">
        {% if request.user.is_authenticated %}
        <div class="dropdown is-hoverable pl-3 pr-3">
            <div class="dropdown-trigger">
              <a>
                <span>欢迎，{{ request.user.username }}</span>
                <span class="icon is-small">
                  <i class="mdi mdi-menu-down" aria-hidden="true"></i>
                </span>
              </a>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu" style="z-index: 9999;">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <a class=" is-block has-text-black-ter" href="http://">
                    <span class="mdi mdi-account-box-outline"></span>
                    个人中心
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class=" is-block has-text-black-ter" href="http://">
                    <span class="mdi mdi-basket-plus-outline"></span>
                      我的订单
                      </a>
                </div>
                <div class=" dropdown-divider"></div>
                <div class="dropdown-item">
                    <a class=" is-block has-text-black-ter" href="{% url 'baykeShop:logout' %}">
                      <span class="mdi mdi-logout"></span>
                      退出
                    </a>
                </div>
              </div>
            </div>
        </div>
        {% else %}
        <a class="is-inline-block pr-2" href="{% url 'baykeShop:login' %}">
        <span class="icon"><i class="mdi mdi-login"></i></span>
            登录
        </a>
        <a class="is-size-7">/</a>
        <a class="is-inline-block pr-3" href="{% url 'baykeShop:register' %}">
            <span class="icon"><i class="mdi mdi-cash-register"></i></span>
            注册
        </a>
        {% endif %}
        <a class="user-cart is-inline-block pl-2 pr-4" href="{% url 'baykeShop:cart' %}">
            <span class="icon"><i class="mdi mdi-cart-check"></i></span>
            <span>购物车(0)</span>
        </a>
    </div>
</div>