{% extends 'baykeShop/cart.html' %}

{% block title %}
    支付
{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb is-small mt-5" aria-label="breadcrumbs">
        <ul>
          <li><a href="{% url 'baykeShop:home' %}">首页</a></li>
          <li><a href="{% url 'baykeShop:user_profile' %}">购物车</a></li>
          <li class="is-active"><a href="#" aria-current="page">立即支付</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
啊实打实的
{% endblock %}

{% block vuescript %}{% endblock %}