{% extends 'baykeShop/user/profile.html' %}

{% load static %}

{% block title %}
地址管理 - {{ request.user }}
{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb is-small mt-5" aria-label="breadcrumbs">
        <ul>
          <li><a href="{% url 'baykeShop:home' %}">首页</a></li>
          <li><a href="{% url 'baykeShop:user_profile' %}">个人中心</a></li>
          <li class="is-active"><a href="#" aria-current="page">地址管理</a></li>
        </ul>
    </nav>
{% endblock %}

{% block profile %}
<div id="userAddress">
  <b-modal
    v-model="isComponentModalActive"
    has-modal-card
    :can-cancel="false">
    <modal-form v-bind="formProps"></modal-form>
  </b-modal>
<div class="is-flex is-justify-content-space-between is-align-items-center">
  <h1 class="is-size-5 pl-2">
    <span class="mdi mdi-map-marker-multiple-outline"></span> 
    地址管理
  </h1>
  <div>
    <b-button 
      type="is-primary is-light"  
      icon-left="map-plus" 
      @click="cardModal">添加地址
    </b-button>
  </div>
</div>

<div class="dropdown-divider"></div>
<div class="columns">
  {% for addr in addr_list %}
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        {% if addr.is_default %}
        <span class="tag is-primary">默认</span>
        {% endif %}
        <span>{{ addr.name }}</span> <span>{{ addr.phone }}</span>
        <p class=" has-text-grey mt-2">
          {{ addr.province }}{{ addr.city }}{{ addr.county }}{{ addr.address }}
        </p>
      </div>
      <footer class="card-footer is-size-7">
        <p class="card-footer-item">
          <span>
            <a @click="isComponentModalActive = true" >
              <span class="mdi mdi-human-edit"></span>
              修改
            </a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            <a>
              <span class="mdi mdi-trash-can-outline"></span>
              删除
            </a>
          </span>
        </p>
        {% if not addr.is_default %}
        <p class="card-footer-item">
          <span>
            <a @click="btnDefault({{ addr.id }})"><span class=" mdi mdi-map-marker-check-outline"></span>
              设为默认</a>
          </span>
        </p>
        {% endif %}
      </footer>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}

{% block vuescript %}
<script>
  const ModalForm = {
    props: ['name', 'phone'],
    data(){
      return {
        labelPosition: 'on-border',
        formProps:{
          name: '',
          phone: '',
          email: '',
          province: '',
          city:'',
          county: '',
          address: '',
          is_default: false,
        }
      }
    },
    methods:{
    },
    template: `
        <form action="">
            <div class="modal-card" style="width: 500px">
                <header class="modal-card-head">
                    <p class="modal-card-title">收货地址</p>
                    <button
                        type="button"
                        class="delete"
                        @click="$emit('close')"/>
                </header>
                <section class="modal-card-body">
                    <b-field label="收件人" :label-position="labelPosition">
                        <b-input
                            v-model="formProps.name"
                            @input="$emit('updateModel', formProps.name)"
                            type="text"
                            :value="formProps.name"
                            placeholder="收件人姓名"
                            required>
                        </b-input>
                    </b-field>

                    <b-field label="手机号" :label-position="labelPosition">
                        <b-input
                            v-model="formProps.phone"
                            @input="$emit('updateModel', formProps.phone)"
                            type="text"
                            :hasCounter="false"
                            :value="formProps.phone"
                            :maxlength="11"
                            validation-message="手机号必须为11位数字格式"
                            pattern="[1][3,4,5,7,8,9][0-9]{9}"
                            placeholder="收件人联系电话"
                            required>
                        </b-input>
                    </b-field>
                    <b-field label="省份" :label-position="labelPosition">
                      <b-input
                          v-model="formProps.province"
                          @input="$emit('updateModel', formProps.province)"
                          type="text"
                          :value="formProps.province"
                          placeholder="收件人所在省份"
                          required>
                      </b-input>
                  </b-field>
                  <b-field label="城市" :label-position="labelPosition">
                    <b-input
                        v-model="formProps.city"
                        @input="$emit('updateModel', formProps.city)"
                        type="text"
                        :value="formProps.city"
                        placeholder="收件人所在城市"
                        required>
                    </b-input>
                  </b-field>
                  <b-field label="区/县" :label-position="labelPosition">
                    <b-input
                        v-model="formProps.county"
                        @input="$emit('updateModel', formProps.county)"
                        type="text"
                        :value="formProps.county"
                        placeholder="收件人所在区县"
                        required>
                    </b-input>
                  </b-field>
                  <b-field label="详细地址" :label-position="labelPosition">
                    <b-input
                        v-model="formProps.address"
                        @input="$emit('updateModel', formProps.address)"
                        type="text"
                        :value="formProps.address"
                        placeholder="详细地址"
                        required>
                    </b-input>
                  </b-field>
                  <b-field>
                    <b-switch
                      v-model="formProps.is_default"
                      @input="$emit('updateModel', formProps.is_default)" 
                      :value="formProps.is_default">
                      设为默认
                    </b-switch>
                  </b-field>
                </section>
                <footer class="modal-card-foot is-justify-content-end">
                    <b-button
                        label="保存"
                        @click="$emit('addressPuls', formProps)"
                        expanded
                        type="is-primary" />
                </footer>
            </div>
        </form>
    `
    }

  var userAddress = new Vue({
    el: '#userAddress',
    delimiters: ['{$', '$}'],
    components: {
        ModalForm
    },
    data: {
      labelPosition: 'on-border',
    },
    methods: {
      cardModal() {
        this.$buefy.modal.open({
            parent: this,
            component: ModalForm,
            hasModalCard: true,
            customClass: 'custom-class custom-class-2',
            trapFocus: true,
            active: true,
            ariaModal: true,
            events: {
              'addressPuls': this.addressPuls, 
              'updateModel': this.updateModel,
              'afterEnter': this.afterEnter
            }
        })
      },
      getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
      },
      toastMessage(type, message){
          return this.$buefy.toast.open({
              message: message,
              type: type
          })
      },
      addressPuls(props){
        const sendData = new URLSearchParams()
        sendData.append('name', props.name)
        sendData.append('phone', props.phone)
        sendData.append('email', props.email)
        sendData.append('province', props.province)
        sendData.append('city', props.city)
        sendData.append('county', props.county)
        sendData.append('address', props.address)
        sendData.append('is_default', props.is_default)
        axios({
          method: 'post',
          url: '{% url "baykeShop:user_address" %}',
          data: sendData,
          headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': this.getCookie('csrftoken'),
            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
          }
        }).then(res => {
          if (res.data.code == 'ok'){
            this.toastMessage('is-success', res.data.message)
            location.reload()
          }else{
            this.toastMessage('is-danger', '发生错误！')
          }
          
        })
      },
      updateModel(value){
        console.log(value)
      },

      btnDefault(addr_id){
        const sendData = new URLSearchParams()
        sendData.append('addr_id', addr_id)
        sendData.append('is_default', true)
        axios({
          method: 'put',
          url: '{% url "baykeShop:user_address" %}',
          data: sendData,
          headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': this.getCookie('csrftoken'),
            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
          }
        }).then(res => {
          if (res.data.code == 'ok'){
            this.toastMessage('is-success', res.data.message)
            location.reload()
          }else{
            this.toastMessage('is-danger', '发生错误！')
          }
        })
      },
      // 编辑
      editAddress(addr_id){
        console.log('asdsdsd')
      },
      afterEnter(){
        console.log('adad')
      }

    }
  })
</script>
{% endblock %}