<div class="modal-card" style="width: 500px">
    <header class="modal-card-head">
        <p class="modal-card-title">收货地址</p>
        <button
            type="button"
            class="delete"
            @click="$parent.close()"/>
    </header>
    <section class="modal-card-body">
        <b-field label="收件人" :label-position="labelPosition">
            <b-input
                v-model="formProps.name"
                type="text"
                :value="formProps.name"
                placeholder="收件人姓名"
                required>
            </b-input>
        </b-field>

        <b-field label="手机号" :label-position="labelPosition">
            <b-input
                type="text"
                v-model="formProps.phone"
                :hasCounter="false"
                :value="formProps.phone"
                :maxlength="11"
                validation-message="手机号必须为11位数字格式"
                pattern="[1][3,4,5,7,8,9][0-9]{9}"
                placeholder="收件人联系电话"
                required>
            </b-input>
        </b-field>
        <b-field label="省份" :label-position="labelPosition">
            <b-input
                v-model="formProps.province"
                type="text"
                :value="formProps.province"
                placeholder="收件人所在省份"
                required>
            </b-input>
        </b-field>
        <b-field label="城市" :label-position="labelPosition">
            <b-input
                v-model="formProps.city"
                type="text"
                :value="formProps.city"
                placeholder="收件人所在城市"
                required>
            </b-input>
        </b-field>
        <b-field label="区/县" :label-position="labelPosition">
            <b-input
                v-model="formProps.county"
                type="text"
                :value="formProps.county"
                placeholder="收件人所在区县"
                required>
            </b-input>
        </b-field>

        <b-field label="详细地址" :label-position="labelPosition">
            <b-input
                v-model="formProps.address"
                type="text"
                :value="formProps.address"
                placeholder="详细地址"
                required>
            </b-input>
        </b-field>
        <b-field>
            <b-switch
                v-model="formProps.is_default"
                :value="formProps.is_default">
                设为默认
            </b-switch>
        </b-field>
    </section>
    <footer class="modal-card-foot">
        <b-button
            label="保存"
            @click="save"
            expanded
            type="is-primary" />
    </footer>
</div>