{% extends 'baykeShop/user/profile.html' %}

{% load static %}

{% block title %}
地址管理 - {{ request.user }}
{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb is-small mt-5" aria-label="breadcrumbs">
        <ul>
          <li><a href="{% url 'baykeShop:home' %}">首页</a></li>
          <li><a href="{% url 'baykeShop:user_profile' %}">个人中心</a></li>
          <li class="is-active"><a href="#" aria-current="page">地址管理</a></li>
        </ul>
    </nav>
{% endblock %}

{% block profile %}

<div id="userAddress">
    <div class="is-flex is-justify-content-space-between is-align-items-center">
        <h1 class="is-size-5 pl-2">
          <span class="mdi mdi-map-marker-multiple-outline"></span> 
          地址管理
        </h1>
        <div>
          <b-button 
            type="is-primary is-light"  
            icon-left="map-plus" 
            @click="add">添加地址
          </b-button>
        </div>
    </div>
    <div class="dropdown-divider"></div>

    <div class="columns is-multiline">
        {% for addr in addr_list %}
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              {% if addr.is_default %}
              <span class="tag is-primary">默认</span>
              {% endif %}
              <span>{{ addr.name }}</span> <span>{{ addr.phone }}</span>
              <p class=" has-text-grey mt-2">
                {{ addr.province }}{{ addr.city }}{{ addr.county }}{{ addr.address }}
              </p>
            </div>
            <footer class="card-footer is-size-7">
              <p class="card-footer-item">
                <span>
                  <a @click="edit({{ addr.id }})" >
                    <span class="mdi mdi-human-edit"></span>
                    修改
                  </a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a>
                    <span class="mdi mdi-trash-can-outline"></span>
                    删除
                  </a>
                </span>
              </p>
              {% if not addr.is_default %}
              <p class="card-footer-item">
                <span>
                  <a @click="btnDefault({{ addr.id }})">
                    <span class=" mdi mdi-map-marker-check-outline"></span>
                    设为默认</a>
                </span>
              </p>
              {% endif %}
            </footer>
          </div>
        </div>
        {% endfor %}
      </div>
      {% include 'baykeShop/user/save_modal.html' %}
   
</div>
{% endblock %}


{% block vuescript %}

<script>
    const ModalForm = {
        props: [
            'email',  
            'labelPosition', 
            'id',
            'name',
            'phone',
            'province',
            'city',
            'county',
            'address',
            'is_default'
        ],
        data(){
            return {
                formProps:{
                    id: '',
                    name: '',
                    phone: '',
                    email: '',
                    province: '',
                    city:'',
                    county: '',
                    address: '',
                    is_default: false,
                    labelPosition:'on-border',
                }
            }
        },
        methods:{
            save(){
                this.$emit('save', this.formProps)
            },
            update(a){
                this.$emit('update', a)
            },
            ceshi(){
                this.$emit('ceshi', 'asdas')
            }
        },
        template: `{% include 'baykeShop/user/addr_form.html' %}`
    }

    var userAddress = new Vue({
        el: '#userAddress',
        delimiters: ['{$', '$}'],
        components: {
            ModalForm
        },
        data: {
            events:{
                'save': this.save,
                'update': this.update,
                'ceshi': this.ceshi
            },
            isComponentModalActive: false,
            formProps: {
                id: '',
                name: '',
                phone: '',
                email: '',
                province: '',
                city:'',
                county: '',
                address: '',
                is_default: false,
                labelPosition:'on-border',
            }
        },
        methods: {
            getCookie(name) {
                var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                return r ? r[1] : undefined;
            },
            toastMessage(type, message){
                return this.$buefy.toast.open({
                    message: message,
                    type: type
                })
            },
            btnDefault(addr_id){
                const sendData = new URLSearchParams()
                sendData.append('addr_id', addr_id)
                sendData.append('is_default', true)
                axios({
                  method: 'put',
                  url: '{% url "baykeShop:user_address" %}',
                  data: sendData,
                  headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': this.getCookie('csrftoken'),
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                  }
                }).then(res => {
                  if (res.data.code == 'ok'){
                    this.toastMessage('is-success', res.data.message)
                    location.reload()
                  }else{
                    this.toastMessage('is-danger', '发生错误！')
                  }
                })
            },

            add(){
               this.isComponentModalActive = true
            },
            edit(addr_id){
               this.isComponentModalActive = true
            },
            save(formProps){
                console.log(formProps)
                const sendData = new URLSearchParams();
                sendData.append('name', formProps.name)
                sendData.append('phone', formProps.phone)
                sendData.append('province', formProps.province)
                sendData.append('city', formProps.city)
                sendData.append('county', formProps.county)
                sendData.append('address', formProps.address)
                sendData.append('is_default', formProps.is_default)
                axios({
                    method: 'post',
                    url: '{% url "baykeShop:user_address" %}',
                    data: sendData,
                    headers: {
                      'X-Requested-With': 'XMLHttpRequest',
                      'X-CSRFToken': this.getCookie('csrftoken'),
                      'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                  }).then(res => {
                    if (res.data.code == 'ok'){
                      this.toastMessage('is-success', res.data.message)
                      location.reload()
                    }else{
                      this.toastMessage('is-danger', '发生错误！')
                    }
                })
            },
            update(a){
                this.formProps.name = 'a'
            },
        }
    })
</script>
    
{% endblock %}
    