{% extends 'baykeShop/cart.html' %}

{% block title %}
    个人中心 - {{ request.user }}
{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb is-small mt-5" aria-label="breadcrumbs">
        <ul>
          <li><a href="{% url 'baykeShop:home' %}">首页</a></li>
          <li class="is-active"><a href="#" aria-current="page">个人中心</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
<style>
    .animation-content{
        z-index: 1;
    }
    .img-box {
        border: dashed 1px #eee;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .img-box img{
        margin-left: 50%;
    }
    .img-del{
        position: absolute;
        top:5px;
        right:5px
    }
</style>
    <div class="columns mb-3">
        <div class="column is-2-fullhd is-3-desktop">
            <div class="box is-radiusless is-marginless is-flex is-flex-direction-column is-align-items-center">
                <figure class="image is-64x64">
                    <img class="is-rounded" src="{{ MEDIA_URL }}{{ request.user.baykeuserinfo.avatar }}" >
                </figure>
                <p class="mt-2">
                    {% if request.user.baykeuserinfo %}
                        {{ request.user.baykeuserinfo.nickname }}
                    {% else %}
                        {{ request.user.username }}
                    {% endif %}
                </p>
            </div>
            <div class="box is-marginless is-radiusless">
                <aside class="menu">
                    <p class="menu-label">
                        账户管理
                    </p>
                    <ul class="menu-list">
                      <li><a class="{% if '/user/userinfo/' in request.path_info  %} is-active {% endif %}" href="{% url 'baykeShop:user_profile' %}">个人信息</a></li>
                      <li><a class="{% if '/user/balance/' in request.path_info  %} is-active {% endif %}" href="{% url 'baykeShop:user_balance' %}">我的余额</a></li>
                      <li><a class="{% if '/user/address/' in request.path_info  %} is-active {% endif %}" href="{% url 'baykeShop:user_address' %}">地址管理</a></li>
                    </ul>
                    <p class="menu-label">
                      我的订单
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="{% if '/user/orders/' in request.path_info and 'pay_status' not in request.get_full_path  %} is-active {% endif %}" 
                             href="{% url 'baykeShop:user_orders' %}">全部订单</a>
                        </li>
                        <li>
                            <a class="{% if 'pay_status=1' in request.get_full_path  %} is-active {% endif %}" 
                             href="{% url 'baykeShop:user_orders' %}?pay_status=1">待付款</a>
                        </li>
                        <li>
                            <a class="{% if 'pay_status=2' in request.get_full_path  %} is-active {% endif %}" 
                                href="{% url 'baykeShop:user_orders' %}?pay_status=2">待发货</a>
                        </li>
                    </ul>
                    
                </aside>
            </div>
        </div>
        <div class="column">
            <div class="box is-radiusless p-5" style="height: 100%;">
                {% block profile %}
                <h1 class="is-size-5 pl-2">个人信息</h1>
                <div class="dropdown-divider"></div>
                <div class="is-flex is-flex-direction-column p-4">
                    <div class="is-flex is-justify-content-space-between is-flex-wrap-wrap is-align-items-center p-3">
                        <div class="is-flex is-align-items-center">
                            <span class="has-text-grey is-size-7">我的头像：</span> 
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="{{ MEDIA_URL }}{{ request.user.baykeuserinfo.avatar }}" >
                            </figure>
                        </div>
                        {% include 'baykeShop/user/update_avatar.html' %}
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="is-flex is-justify-content-space-between is-flex-wrap-wrap is-align-items-center p-3">
                        <div class=" is-flex is-align-items-center">
                            <span class="has-text-grey is-size-7">我的昵称：</span> 
                            <span>{{ request.user.baykeuserinfo.nickname }}</span>
                        </div>
                        {% include 'baykeShop/user/update_nickname.html' %}
                    </div>

                    {% comment %} <div class="dropdown-divider"></div>
                    <div class="is-flex is-justify-content-space-between is-flex-wrap-wrap is-align-items-center p-3">
                        <div class=" is-flex is-align-items-center">
                            <span class="has-text-grey is-size-7">手机号：&nbsp;&nbsp;</span> 
                            <span>{{ request.user.baykeuserinfo.phone }}</span>
                        </div>

                        {% include 'baykeShop/user/update_phone.html' %}
                    </div> {% endcomment %}
                    <div class="dropdown-divider"></div>
                    <div class="is-flex is-justify-content-space-between is-flex-wrap-wrap is-align-items-center p-3">
                        <div class=" is-flex is-align-items-center">
                            <span class="has-text-grey is-size-7">我的ID：&nbsp;&nbsp;</span> 
                            <span>{{ request.user.id }}</span>
                        </div>
                        <div></div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="is-flex is-justify-content-space-between is-flex-wrap-wrap is-align-items-center p-3">
                        <div class="is-flex is-align-items-center">
                            <span class="has-text-grey is-size-7">密码设置：</span> 
                            <span>*********</span>
                        </div>
                        {% comment %} <div><a href="" class="button is-danger is-inverted">修改密码</a></div> {% endcomment %}
                        {% include 'baykeShop/user/update_password.html' %}
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="is-flex is-justify-content-space-between is-flex-wrap-wrap is-align-items-center p-3">
                        <div class=" is-flex is-align-items-center">
                        </div>
                        <div><a href="{% url 'baykeShop:logout' %}" class=" button is-primary">退出登录</a></div>
                    </div>

                </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block vuescript %}

{% endblock %}
    