<div id="updateNickname">
 
    <b-button
        label="修改"
        type="is-primary is-inverted"
        @click="nickNameModal" />
</div>

<script>
    const NickModalForm = {
        props: ['nickname'],
        delimiters: ['{$', '$}'],
        data(){
            return {
                formProps: {
                    nickname: '{{ request.user.baykeuserinfo.nickname }}',
                }
            }
        },
        
        template: `
        <div class="box" style="min-width:300px">
            <b-field label="我的昵称">
                <b-input v-model="formProps.nickname"></b-input>
            </b-field>
            <b-button type="is-primary is-light" expanded @click="$emit('saveNickname', formProps.nickname)">立即修改</b-button>  
        </div>
        `
    }
</script>

<script>
    var updateNickname = new Vue({
        el: '#updateNickname',
        delimiters: ['{$', '$}'],
        data:{
            formProps: {
                nickname: '{{ request.user.baykeuserinfo.nickname }}',
            }
        },
        methods: {
            getCookie(name) {
                var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                return r ? r[1] : undefined;
            },
            toastMessage(type, message){
                return this.$buefy.toast.open({
                    message: message,
                    type: type
                })
            },

            nickNameModal() {
                this.$buefy.modal.open({
                    parent: this,
                    component: NickModalForm,
                    hasModalCard: true,
                    customClass: 'custom-class custom-class-2',
                    trapFocus: true,
                    events:{
                        'saveNickname': this.saveNickname
                    }
                })
            },

            
            saveNickname(nickname){
                if (!nickname){
                    this.toastMessage('is-danger', '昵称不能为空！')
                    return
                }
               const sendData = new FormData()
               sendData.append('nickname', nickname)
               sendData.append('owner', '{{ request.user.id }}')
               axios({
                   method: 'post',
                   url: '{% url "baykeShop:user_profile" %}',
                   data: sendData,
                   headers: {
                       'X-Requested-With': 'XMLHttpRequest',
                       'X-CSRFToken': this.getCookie('csrftoken'),
                       'Content-Type': 'multipart/form-data'
                   }
               }).then(res => {
                   if (res.data.code == 'ok'){
                       this.toastMessage('is-success', '修改成功！')
                       location.reload()
                   }else{
                       this.toastMessage('is-success', '修改失败！')
                   }
               })
            }
        }
    })
</script>