<div id="updatePassword">
 
    <b-button
        label="修改"
        type="is-primary is-inverted"
        @click="passwordModal" />
</div>

<script>
    const passwordModalForm = {
        props: ['old_password', 'password1', 'password2'],
        delimiters: ['{$', '$}'],
        data(){
            return {
                formProps: {
                    password1: this.password1,
                    password2: this.password2,
                    old_password: this.old_password
                }
            }
        },
        
        template: `
        <div class="box" style="min-width:400px">
            <b-field label="旧密码" horizontal>
                <b-input type="password"
                    v-model="formProps.old_password"
                    :value="formProps.old_password"
                    placeholder="请输入旧密码进行验证"
                    required
                    password-reveal>
                </b-input>
            </b-field>
            <b-field label="新密码" horizontal>
                <b-input type="password"
                    v-model="formProps.password1"
                    :value="formProps.password1"
                    placeholder="请输入新密码"
                    required
                    password-reveal>
                </b-input>
            </b-field>
            <b-field label="新密码确认" horizontal>
                <b-input type="password"
                    v-model="formProps.password2"
                    :value="formProps.password2"
                    placeholder="再次确认新密码"
                    required
                    password-reveal>
                </b-input>
            </b-field>
            <b-button
                :disabled="!formProps.password1 || !formProps.password2 || !formProps.old_password ? true:false"
                type="is-primary is-light" 
                expanded 
                @click="$emit('savePassword', formProps)">
                立即修改
            </b-button>  
        </div>
        `
    }
</script>

<script>
    var updatePassword = new Vue({
        el: '#updatePassword',
        delimiters: ['{$', '$}'],
        data:{
            formProps: {
                password1: this.password1,
                password2: this.password2,
                old_password: this.old_password
            }
        },
        methods: {
            getCookie(name) {
                var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                return r ? r[1] : undefined;
            },
            toastMessage(type, message){
                return this.$buefy.toast.open({
                    message: message,
                    type: type
                })
            },

            passwordModal() {
                this.$buefy.modal.open({
                    parent: this,
                    component: passwordModalForm,
                    hasModalCard: true,
                    customClass: 'custom-class custom-class-2',
                    trapFocus: true,
                    events:{
                        'savePassword': this.savePassword
                    }
                })
            },

            savePassword(formProps){
                if (formProps.password1 !== formProps.password2){
                    this.toastMessage('is-danger', '两次密码输入不一致！')
                    return
                }
               const sendData = new URLSearchParams()
               sendData.append('old_password', formProps.old_password)
               sendData.append('password1', formProps.password1)
               sendData.append('password2', formProps.password2)
               axios({
                   method: 'put',
                   url: '{% url "baykeShop:user_profile" %}',
                   data: sendData,
                   headers: {
                       'X-Requested-With': 'XMLHttpRequest',
                       'X-CSRFToken': this.getCookie('csrftoken'),
                       'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                   }
               }).then(res => {
                   if (res.data.code == 'ok'){
                       this.toastMessage('is-success', res.data.message)
                       location.reload()
                   }else{
                       this.toastMessage('is-danger', res.data.message)
                   }
               }) 
            }
        }
    })
</script>