<div id="updateAvatar">
 
    <b-button
        label="修改"
        type="is-primary is-inverted"
        @click="avatarModal" />
</div>

<script>
    const ModalForm = {
        props: ['dropFiles', 'imgSrc'],
        delimiters: ['{$', '$}'],
        data(){
            return {
                formProps: {
                    dropFiles: this.dropFiles,
                    imgSrc: this.imgSrc
                }
            }
        },
        computed: {
            imgPath(){

                let dropFiles = this.formProps.dropFiles
                // 图片大小配置
                let size = 1024 * 1024 * 2
                if (size < dropFiles.size){
                    this.formProps.dropFiles = null
                    return ''
                }

                let img = new FileReader();
                img.readAsDataURL(dropFiles);
                img.onload = ({ target }) => {
                    this.formProps.imgSrc = target.result; //将img转化为二进制数据
                    console.log(this.formProps.imgSrc)
                };
                return this.formProps.imgSrc
            }
        },
        methods: {
        },
        template: `
        <div class="box" style="min-width:300px">
            {% include 'baykeShop/user/upload.html' %}
        </div>
        `
    }
</script>

<script>
    var updateAvatar = new Vue({
        el: '#updateAvatar',
        delimiters: ['{$', '$}'],
        data:{
            formProps: {
                dropFiles: null,
                imgSrc: ''
            }
        },
        methods: {
            getCookie(name) {
                var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                return r ? r[1] : undefined;
            },
            toastMessage(type, message){
                return this.$buefy.toast.open({
                    message: message,
                    type: type
                })
            },

            avatarModal() {
                this.$buefy.modal.open({
                    parent: this,
                    component: ModalForm,
                    hasModalCard: true,
                    customClass: 'custom-class custom-class-2',
                    trapFocus: true,
                    events:{
                        'changeAvatar': this.changeAvatar,
                        'saveAvatar': this.saveAvatar
                    }
                })
            },

            changeAvatar(dropFiles){
                let size = 1024 * 1024 * 2
                if (size < dropFiles.size){
                    this.toastMessage('is-danger', '图片大小需小于2M，建议128px*128px的正方形图片！')
                    return
                }
            },
            saveAvatar(dropFiles){
                const sendData = new FormData()
                sendData.append('avatar', dropFiles)
                sendData.append('owner', '{{ request.user.id }}')
                axios({
                    method: 'post',
                    url: '{% url "baykeShop:user_profile" %}',
                    data: sendData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': this.getCookie('csrftoken'),
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    console.log(dropFiles)
                })
                
            }
        }
    })
</script>