{% extends 'baykeshop/base_site.html' %}

{% block title %} 全部文章 {% endblock %}

{% block breadcrumb %}
<section class="hero is-primary is-bold">
    <div class="hero-body has-text-centered">
      <p class="title">
        商城资讯
      </p>
      <p class="subtitle">
        Shop News
      </p>
    </div>
</section>
{% endblock %}


{% block content %}
    <div class="container mt-3">
      <div class="columns">
        <div class="column is-9">
          sadasd
        </div>
        <div class="column">
          <div class="box">
            <h1 class=" is-size-6 has-text-weight-bold">资讯分类</h1>
            <div class="dropdown-divider"></div>
            <aside class=" menu">
              <ul class=" menu-list">
                {% for cate in cates %}
                  <li><a href="">{{ cate.name }}</a></li>
                {% endfor %}
              </ul>
            </aside>
          </div>
          <div class="box">
            <h1 class=" is-size-6 has-text-weight-bold">资讯归档</h1>
            <div class="dropdown-divider"></div>
            <aside class=" menu">
              <ul class=" menu-list">
                {% for cate in cates %}
                  <li><a href="">{{ cate.name }}</a></li>
                {% endfor %}
              </ul>
            </aside>
          </div>
          <div class="box">
            <h1 class=" is-size-6 has-text-weight-bold">资讯标签</h1>
            <div class="dropdown-divider"></div>
            <div class="tags">
              {% for tag in tags %}
                <a href="" class="tag">{{ tag.name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
    

