{% load i18n static shop_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}-baykeShop</title>
    <link rel="stylesheet" href="{% block stylesheet %}{% static "baykeshop/css/buefy.min.css" %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'baykeshop/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
    <script src="{% static 'baykeshop/js/vue.js' %}"></script>
    <script src="{% static 'baykeshop/js/buefy.min.js' %}"></script>
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
    
    <div id="container" class="is-flex is-flex-direction-column full-height">
        {% block header %}
            <div id="header-top" class="has-background-black-bis">
                <div class="is-flex is-justify-content-space-between is-align-items-center container" style="height:40px">
                    <div class="head-top-left">
                        {% block head_top_left %}
                        欢迎您光临本店！
                        {% endblock %}  
                    </div>
                    <div class="head-top-right">
                        {% block head_top_right %}
                        <a class="mr-2" href="{% url 'baykeshop:login' %}" target="_blank">
                            <span class="icon"><i class="mdi mdi-login"></i></span>
                            登录
                        </a> <span class="is-size-6">|</span>
                        <a class="mr-3" href="{% url 'baykeshop:register' %}" target="_blank">
                            <span class="icon"><i class="mdi mdi-cash-register"></i></span>
                            注册
                        </a>
                        <a class="cart" href="">
                            <span class="icon"><i class="mdi mdi-cart-check"></i></span>
                            购物车(0)
                        </a>
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div id="header">
                <div id="navbar">
                    <template>
                        <b-navbar spaced shadow transparent wrapper-class="{% block navclass %}container{% endblock %}">
                            <template #brand>
                                <b-navbar-item tag="div">
                                    {% block navbar_logo %}
                                    <h1 class="is-size-4 has-text-weight-medium">BaykeShop</h1>
                                    {% endblock %} 
                                </b-navbar-item>
                            </template>
                            <template #start>
                                {% block navbar_start %}
                                <b-navbar-item href="{% url 'baykeshop:home' %}">
                                    首页
                                </b-navbar-item>
                                {% navbar_result as cates %}
                                {% for cate in cates %}
                                <b-navbar-dropdown label="{{ cate.name }}">
                                    {% for sub_cate in cate.sub_cates %}
                                    <b-navbar-item href="#">
                                        {{ sub_cate.name }}
                                    </b-navbar-item>
                                    {% endfor %}
                                </b-navbar-dropdown>
                                {% endfor %}
                                {% endblock %}             
                            </template>
                    
                            <template #end>
                                {% block navbar_end %}
                                <b-navbar-item tag="div">
                                    <div class="buttons">
                                        <a class="button is-primary">
                                            <strong>Sign up</strong>
                                        </a>
                                        <a class="button is-light">
                                            Log in
                                        </a>
                                    </div>
                                </b-navbar-item>
                                {% endblock %} 
                            </template>
                        </b-navbar>
                    </template>
                </div>
            </div>
        {% endblock %}
        
        {% block main %}
            <div id="main" class="full-height">
                <div id="content" class="full-height">
                    {% block content %}
                    <p>asdas</p> 
                    <p>asdas</p> 
                    <p>asdas</p> 
                    <p>asdas</p>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        
        {% block footer %}
            <div id="footer" class="footer has-background-black-bis">
                asdasdas
            </div>
        {% endblock %}
    </div>
    {% if messages %}
        {% for message in messages %}
        <div id="notification">
            <b-notification
                auto-close 
                {% if message.tags %}type="is-{{ message.tags }} is-light"{% endif %}
                :duration="3000"
                position="is-top-right"
                aria-close-label="Close notification">
                {{ message }}
            </b-notification>
        </div>
        {% endfor %}
        <script>
            var notification = new Vue({
                el: '#notification',
                delimiters: ['{$', '$}'],
            })
        </script>
    {% endif %}

    <script>
        var navbar = new Vue({
            el: '#navbar',
            delimiters: ['{$', '$}'],
            data: {},
            methods: {}
        })
    </script>
</body>
</html>