{% extends 'baykeshop/base_site.html' %}

{% load i18n shop_tags %}

{% block extrastyle %}
<style>
.spu-box .spu-title{
    min-height: 45px;
}
.spu-foot{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
}
</style>

{% endblock %}
{% block content %}
{% banners_result %}
    <div class="container mt-4 mb-4">
        {% for cate in cates %}
        <div class="is-flex is-align-items-center is-justify-content-space-between mb-2">
            <div class="">
                <h1 class=" has-text-weight-semibold is-size-5">{{ cate.name }}</h1>
            </div>
            <div class="">
                <a href="">更多>></a>
            </div>
        </div>
        <div class="columns is-multiline">
            <div class="column is-4">
                <figure class="image">
                    <img src="{{ cate.img_map.url }}" alt="" srcset="">
                </figure>
            </div>
            {% for spu in cate.spus %}
            <div class="column is-2">
                {% spu_box spu %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>    
    <!-- <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p>
    <p>asdasdsa</p> -->
{% endblock %}
    