#editor—wrapper {
    border: 1px solid #ccc;
    z-index: 100; /* 按需定义 */
    margin-left: 150px;
}
#toolbar-container { border: 1px solid #ccc; }
#editor-container { height: 500px; border: 1px solid #ccc;}
#toolbar-container ul {
    margin-left: 0 !important;
}