td, th {
    vertical-align: middle;
}
.orderSKU{
    display: flex;
    align-items: center;
}
.orderSKU img{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
.orderSKU p{
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.orderSKU .spec{
    color: #5e5e5e;
}
