{% extends 'baykeAdmin/base_site.html' %}

{% load i18n static %}

{% block container %}
<style>
    html, body{
        height: 100%;
    }
</style>
    <div id="container" class="is-flex" style="height: 100%;">
        <div id="sidebar" class="box is-marginless is-radiusless" style="width: 240px;">
            <aside class="menu">
                <p class="menu-label">
                  General
                </p>
                <ul class="menu-list">
                  <li><a>Dashboard</a></li>
                  <li><a>Customers</a></li>
                </ul>
                <p class="menu-label">
                  Administration
                </p>
                <ul class="menu-list">
                  <li><a>Team Settings</a></li>
                  <li>
                    <a class="is-active">Manage Your Team</a>
                    <ul>
                      <li><a>Members</a></li>
                      <li><a>Plugins</a></li>
                      <li><a>Add a member</a></li>
                    </ul>
                  </li>
                  <li><a>Invitations</a></li>
                  <li><a>Cloud Storage Environment Settings</a></li>
                  <li><a>Authentication</a></li>
                </ul>
                <p class="menu-label">
                  Transactions
                </p>
                <ul class="menu-list">
                  <li><a>Payments</a></li>
                  <li><a>Transfers</a></li>
                  <li><a>Balance</a></li>
                </ul>
            </aside>
        </div>
        <div id="main" class="is-flex-grow-1 is-flex is-flex-direction-column">
            <div id="header">asda</div>
            <div id="message">
                {% block messages %}
                    {% if messages %}
                        <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                        {% endfor %}</ul>
                    {% endif %}
                {% endblock messages %}
            </div>
            <div id="branding">adasad</div>
            <div id="content">content</div>
        </div>
    </div>
  
{% endblock %}
    