{% extends 'baykeAdmin/base_site.html' %}


{% block sidebar %}
    <div class="box is-marginless is-radiusless">
        {% block menu %}
            {% include 'baykeAdmin/sidebar.html' %}
        {% endblock %} 
    </div>
{% endblock %}


{% block main %}
    <div id="main" class="is-flex-grow-1 is-flex is-flex-direction-column">
        {% block header %}
            <div id="header">asdas</div>
        {% endblock %}

        {% block message %}
        <div id="message">
            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}
        </div>
        {% endblock %}
            
        
        {% block branding %}
        <div id="branding">adasad</div>
        {% endblock %}
            
        {% block content %}
        <div id="content">content</div>
        {% endblock %}
    </div>
{% endblock %}
    
    


