<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}-baykeshop</title>
    {{ media.css }}
</head>
<body>
    <div class="is-flex">
        <div class="is-hidden-mobile">
            <div class="sidebar box is-radiusless" style="width:200px; min-height: 100%;">
                asdasdadsa
            </div>
        </div>
        <div class="is-flex-grow-1">
            <div class="box1 is-flex is-flex-direction-column is-justify-content-space-between1" style="min-height:100vh">
                <div class="header" >
                    <div class="box is-radiusless is-marginless">sdads</div>
                    <div class="bread">asdasasd</div>
                </div>
                
                <div class="main" style="flex:1; overflow:auto;">
                    <div class="box">
                        中间内容
                    </div>
                </div>
                <div class="main-footer is-flex is-justify-content-center">
                    <p class="pb-4">这是底部说明文件</p>
                </div>
            </div>
        </div>
    </div>
{{ media.js }}
</body>
</html>