<template>
    <section>
        <b-field v-if="!formProps.dropFiles">
            <b-upload 
                v-model="formProps.dropFiles"
                accept=".jpg, .png, .gif"
                @input="$emit('changeAvatar', formProps.dropFiles)"
                drag-drop>
                <section class="section">
                    <div class="content has-text-centered">
                        <p>
                            <b-icon
                                icon="upload"
                                size="is-large">
                            </b-icon>
                        </p>
                        <p>建议上传头像大小为128px的正方形图片，仅支持jpg、png及gif三种格式！</p>
                    </div>
                </section>
            </b-upload>
        </b-field>

        <div class="is-flex is-flex-direction-column" v-if="formProps.dropFiles">

            <div class="img-box is-relative">
                <p class="image is-128x128">
                    <img :src="imgPath">   
                </p>
                <button class="delete img-del" @click="formProps.dropFiles = null"></button>
            </div>
            
            <button class="button is-primary mt-3" @click="$emit('saveAvatar', formProps.dropFiles)">立即上传</button>
        </div>
        
    </section>
</template>




