{% extends 'baykeshop/base.html' %}

{% load static shop_tags %}

{% block title %} 商城首页 {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'baykeshop/css/index.css' %}">
{% endblock %}

{% block section %}
    {% for cate in category_goods %}
    
    {% if cate.parent is null %}
    <section class="container mt-3 mb-3">
        <div class="is-flex is-align-items-center mb-3">
            <div class="">
                <h1 class="is-size-4">{{ cate.name }}</h1>
            </div>
            <div style="margin-left: auto;">
                <a href="{% url 'baykeshop:goods' cate.id %}">更多>></a>
            </div>
        </div>
        <div class="columns is-multiline">
            <div class="column is-4">
                <figure class="image is-5by4">
                    <a href="{% url 'baykeshop:goods' cate.id %}">
                        <img src="{{ MEDIA_URL }}{{ cate.img_map }}" alt="{{ cate.name }}">
                    </a>
                </figure>
            </div>
            {% for good in cate.goods %}
            <div class="column is-2">
                {% include 'baykeshop/sku_box.html' %}
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
    {% empty %}
        暂未推荐任何分类
    {% endfor %}
{% endblock %}