<div id="seckill" class="container seckill mt-3 mb-3 box is-radiusless is-paddingless">

    <template>
        <b-carousel-list v-model="test" :data="items" :items-to-show="5">
            <template #item="list">
                <div class="card is-radiusless">
                    <div class="card-image is-radiusless">
                        <figure class="image is-5by4">
                            <a @click="info(list.index)"><img :src="list.image"></a>
                        </figure>
                        <b-tag type="is-danger" rounded style="position: absolute; top: 0;"><b>限时秒杀</b></b-tag>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p class="title is-6">{$ list.title $}</p>
                            <p class="subtitle is-7">@johnsmith</p>
                            <b-field grouped>
                                <p class="control" v-if="list.rating">
                                    <b-rate :value="list.rating" show-score disabled />
                                </p>
                                <p class="control" style="margin-left: auto">
                                    <b-button size="is-small" type="is-danger" icon-left="heart" outlined />
                                </p>
                            </b-field>
                        </div>
                    </div>
                </div>
            </template>
        </b-carousel-list>
    </template>

</div>

<script>
    var seckill = new Vue({
        el: '#seckill',
        delimiters: ['{$', '$}'],
        data: {
            test: 0,
            items: [
                {
                    title: 'Slide 1',
                    image: 'https://buefy.org/static/img/placeholder-1280x960.png',
                    rating: 4.4
                },
                {
                    title: 'Slide 2',
                    image: 'https://buefy.org/static/img/placeholder-1280x960.png',
                    rating: 3.5
                },
                {
                    title: 'Slide 3',
                    image: 'https://buefy.org/static/img/placeholder-1280x960.png',
                    rating: 5
                },
                {
                    title: 'Slide 4',
                    image: 'https://buefy.org/static/img/placeholder-1280x960.png'
                },
                {
                    title: 'Slide 5',
                    image: 'https://buefy.org/static/img/placeholder-1280x960.png',
                    rating: 5
                },
                {
                    title: 'Slide 6',
                    image: 'https://buefy.org/static/img/placeholder-1280x960.png',
                    rating: 4
                },
                {
                    title: 'Slide 7',
                    image: 'https://buefy.org/static/img/placeholder-1280x960.png',
                    rating: 2.7
                },
                {
                    title: 'Slide 8',
                    image: 'https://buefy.org/static/img/placeholder-1280x960.png',
                    rating: 1.5
                }
            ]
        },
        methods: {
            info(value) {
                this.test = value
            }
        }
    })
</script>