.head-top-box {
    line-height: 40px;
    color: #b4b4b4;
}
.head-top-box a{
    font-size: 12px;
    color: #b4b4b4;
}

.head-top-box a:hover{
    color: #e8e8e8;
}
.head-top-box .user-right-bored{
    border-right: #3c3c3c solid 1px;
}
.head-top-box .user-cart {
    background: #3c3c3c !important;
}

/* seckill */
/* .seckill {
    height: 350px;
} */

/* spu */

.spu p, .breadcrumbs, .breadcrumbs a{
    font-size: 14px;
}
